@using DocumentSystem.Models

@model DocumentSystem.Models.POViwerModel


@{
	ViewBag.Title = "Index";
}

<h2>View Invoice Document</h2>




@using (Html.BeginForm("Index", "POViewer", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{

	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@*@Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })*@
			<div class="col-md-10">
				@Html.TextBoxFor(model => model.PONumber, "", new { maxlength = 50, @placeholder = "PO Number", @id = "txtDocumentNo", @class = "form-control" })
				@Html.ValidationMessageFor(model => model.PONumber, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Find" class="btn btn-primary" />
			</div>
		</div>
	</div>
}


<hr />

@if (Model.PONumber != null)
{
	@*var i = (Model.FileList.Count - 1);
	<div class="row">
		<div class="col-md-offset-4 col-md-8">
			<h3>
				View Uploaded Invoice:
				<a class="download-file1" href="@Url.Action("DownloadFile", "InvoiceUpload", new { fileId = @Model.POList[i].PONumber })" target="_blank">
					@Model.POList[i].PONumber
				</a>
			</h3>
		</div>
	</div>*@


		<div>
			<iframe src="@Url.Action("GetPOFile", "POViewer", new { filePO = this.Model.PONumber})" id="iframe" type="application/pdf" width="100%" height="800px" frameborder="0" allowfullscreen />
		</div>



	
}





